.PhoneInput > input:focus {
	outline: none;
}

.PhoneInput {  
    pointer-events: none;
}

.PhoneInputCountry {
	pointer-events: auto;
}

.PhoneInput > input {
    pointer-events: auto;
}

.PhoneInput:focus-within {
	outline: none;
	--tw-ring-offset-width: 2px;
	--tw-ring-color: hsl(var(--ring));
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	outline: 2px solid transparent;
    outline-offset: 2px;
}

.PhoneInputInput:disabled {
	background-color: hsl(var(--background));
	cursor: not-allowed;
}

.PhoneInput--disabled {
	cursor: not-allowed;
	opacity: .5;
}